<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" integrity="sha384-OHBBOqpYHNsIqQy8hL1U+8OXf9hH6QRxi0+EODezv82DfnZoV7qoHAZDwMwEJvSw" crossorigin="anonymous"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
	<link rel="stylesheet" href="src/app/css/general.css"/>
	<link rel="stylesheet" type="text/css" href="src/app/css/style-index.css">
	<link rel="stylesheet" type="text/css" href="src/app/css/headerContent.css"/>
	<link rel="stylesheet" type="text/css" href="src/app/css/mainContent.css"/>
	<link rel="stylesheet" type="text/css" href="src/app/css/footerContent.css"/>
	<link rel="shortcut icon" href="./src/app/img/satellite.ico"/>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"/>
	<title>Azimut</title>
</head>
<body>

	<header class="animated bounceInDown">
		<div id="header-content" class="container">
			<div class="row justify-content-between">
				<div class="col-12 col-md-5 align-self-center">
					<h1 class="header-font">Azimut</h1>
				</div>
				<div class="col-12 col-md-3 align-self-center">
					<a href="https://universidadvirtualdelperu.edu.pe/calculator" class="block-anchor">Ir a satélite</a>
				</div>
			</div>
		</div>
	</header>

	<main class="animated fadeIn">
		<div class="container">
			<div class="row justify-content-center">
				<form action="./results.html" class="col-12 col-md-8" method="get" id="formdata" v-on:submit="workData($event)">

					<div class="row justify-content-center">

						<!--Earth station form-->
						<div class="col-10 col-sm-6 col-md-5 form-content" id="earth-station">
							<div class="table-form">
								<div class="table-form-title">
									<h3>Estación terrestre</h3>
								</div>
								<div class="table-form-inputs">
									<div class="input-group margin-input">
										<input type="text" class="form-control" placeholder="Localidad" name="stLocation" id="stLocation" autocomplete="off" v-model="stLocation" required/>
										<a href="https://carta-natal.es/ciudades/" target="_blank" class="help-anchor">¡Coordenadas de tu localidad, sólo da click aquí!</a>
									</div>

									<div class="input-group margin-input">
										<input type="text" class="form-control" placeholder="Latitud" name="stLat" id="stLat" v-model="stLatitude" v-on:keypress="onlyNumbers($event)" autocomplete="off" required/>
										<div class="input-group-append">
							    			<span class="input-group-text">°N</span>
							  			</div>
									</div>

									<div class="input-group margin-input">
										<input type="text" class="form-control" placeholder="Longitud" name="stLon" id="stLon" v-model="stLongitude" v-on:keypress="onlyNumbers($event)" autocomplete="off" required/>
										<div class="input-group-append">
							    			<span class="input-group-text">°E</span>
							  			</div>
									</div>
								</div>
							</div>
						</div>

						<!--Satellite form-->
						<div class="col-10 col-sm-6 col-md-5 form-content" id="satelite">
							<div class="table-form">
								<div class="table-form-title">
									<h3>Satélite</h3>
								</div>
								<div class="table-form-inputs">

									<div class="input-group margin-input">
										<select class="form-control animated swing delay-10s" v-model="choosenSat" autofocus="off">
											<option value="" selected>--- Elige satélite ---</option>
											<!--Valores de los satélites-->
											<option v-for="satellite in satellites" v-bind:value="satellite">{{ Math.abs(satellite.longitude) }}°{{ lonSide(satellite.longitude) }} : {{ satellite.name }}</option>
										</select>
									</div>

									<div class="input-group margin-input">
										<input type="text" class="form-control" placeholder="Satélite" name="satName" id="satName" v-bind:value="satName" autocomplete="off" required/>
									</div>

									<div class="input-group margin-input">
										<input type="text" class="form-control" placeholder="Longitud" name="satLon" id="satLon" v-bind:value="satLongitude || this.value" v-bind:disabled="satLongitude" autocomplete="off" required/>
										<div class="input-group-append">
						    			<span class="input-group-text">°E</span>
						  			</div>
									</div>
								</div>
							</div>
						</div>

						<!--Submit button-->
						<div id="submit" class="col-12 form-content">
							<input class="btn btn-info" type="submit" value="¡Calcular!" v-bind:disabled="correctData"/>
						</div>

					</div>

				</form>
			</div>
		</div>
	</main>

	<footer class="animated fadeInRightBig">
		<div class="container">
			<div class="row justify-content-end" id="footer-content">
				<div class="col-12 col-sm-10 col-md-6">
					<div class="footer-item">
						<address>
							<a href="https://universidadvirtualdelperu.edu.pe" target="_blank" class="block-anchor">Universidad Virtual del Perú</a>
						</address>
					</div>
					<div class="footer-item">
						<address>
							<a href="https://www.google.com/maps/place/Juvenal+Denegri+215,+Cercado+de+Lima+15034/@-12.0838197,-77.0133461,17z/data=!3m1!4b1!4m5!3m4!1s0x9105c88010119123:0xdfb6e87f2a1975ad!8m2!3d-12.0838197!4d-77.0111574" target="_blank" class="block-anchor">Calle Juvenal Denegri 215 Santa Catalina, La Victoria, Lima.</a>
						</address>
					</div>
					<div class="footer-item">
						<address>(01) 375-7903</address>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="./src/app/js/scripts/model_index.js" type="module"></script>
	<script src="./src/app/js/scripts/validates.js"></script>
</body>
</html>
