<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" integrity="sha384-OHBBOqpYHNsIqQy8hL1U+8OXf9hH6QRxi0+EODezv82DfnZoV7qoHAZDwMwEJvSw" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
    <link rel="stylesheet" href="./src/app/css/general.css"/>
    <link rel="stylesheet" href="./src/app/css/style-results.css"/>
    <link rel="stylesheet" type="text/css" href="./src/app/css/headerContent.css"/>
    <link rel="stylesheet" type="text/css" href="./src/app/css/footerContent.css"/>
    <link rel="shortcut icon" href="./src/app/img/satellite.ico"/>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"/>
    <title>Resultados</title>
</head>
<body style="overflow: hidden;">

    <header class="animated bounceIn">
      <div id="header-content" class="container">
        <div class="row justify-content-between">
          <div class="col-12 col-md-5 align-self-center">
            <h1 class="header-font">Azimut</h1>
          </div>
          <div class="col-12 col-md-3 align-self-center">
            <a href="https://universidadvirtualdelperu.edu.pe/calculator" class="block-anchor">Ir a satélite</a>
          </div>
        </div>
      </div>
    </header>

    <main class="animated zoomIn">
        <div class="container" style="background-color: rgba(230, 230, 230, 0.75);">
            <div class="row justify-content-center">
              <section id="results" class="col">
                <div class="row">
                  <div class="col-12">
                    <article>
                      <h3>Estación terrestre:</h3>
                      <div>
                        <p class="m-0">Localidad: {{ results.earthstation.location }}</p>
                        <p class="m-0">Latitud: {{ Math.abs(results.earthstation.latitude) }} °{{ latSide(results.earthstation.latitude) }}</p>
                        <p class="m-0">Longitud: {{ Math.abs(results.earthstation.longitude) }} °{{ lonSide(results.earthstation.longitude) }}</p>
                      </div>
                    </article>
                    <br/>
                    <article>
                      <h3>Satélite:</h3>
                      <div>
                        <p class="m-0">Satélite: {{ results.satellite.name }}</p>
                        <p class="m-0">Longitud: {{ Math.abs(results.satellite.longitude) }} °{{ lonSide(results.satellite.longitude) }}</p>
                      </div>
                    </article>
                    <br/>
                    <article>
                      <h3>Parámetros calculados:</h3>
                      <div>
                        <p class="m-0">Grado de elevación: {{ results.params.elevation }}°</p>
                        <p class="m-0">Distancia: {{ results.params.distance }} km</p>
                        <p class="m-0">Ángulo de azimut: {{ results.params.azimuth }}°</p>
                        <p class="m-0">&gamma; = {{ results.params.gamma }} rad</p>
                        <p class="m-0">&phi; = {{ results.params.phi }} rad</p>
                      </div>
                    </article>
                    <br/>
                  </div>
                </div>
              </section>
              <section class="col align-self-center animated rotateIn delay-3-5s">
                <canvas id="elevation" width="250" height="250">
                  No es posible mostrar gráficos, su navegador está desactualizado.
                </canvas>
              </section>
              <section class="col align-self-center animated rotateIn delay-3-5s">
                <canvas id="azimuth" width="250" height="250">
                  No es posible mostrar gráficos, su navegador está desactualizado.
                </canvas>
              </section>
              <div class="col-12 p-10">
                <a href="javascript:generatePDF()" class="btn btn-info animated shake delay-10s">Generar PDF</a>
              </div>
            </div>
        </div>
    </main>

    <footer class="animated flipInY">
      <div class="container">
        <div class="row justify-content-end" id="footer-content">
          <div class="col-12 col-sm-10 col-md-6">
            <div class="footer-item">
              <address>
                <a href="https://universidadvirtualdelperu.edu.pe" target="_blank" class="block-anchor">Universidad Virtual del Perú</a>
              </address>
            </div>
            <div class="footer-item">
              <address>
                <a href="https://www.google.com/maps/place/Juvenal+Denegri+215,+Cercado+de+Lima+15034/@-12.0838197,-77.0133461,17z/data=!3m1!4b1!4m5!3m4!1s0x9105c88010119123:0xdfb6e87f2a1975ad!8m2!3d-12.0838197!4d-77.0111574" target="_blank" class="block-anchor">Calle Juvenal Denegri 215 Santa Catalina, La Victoria, Lima.</a>
              </address>
            </div>
            <div class="footer-item">
              <address>(01) 375-7903</address>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
    <script src="./src/app/js/scripts/model_results.js"></script>
    <script src="./src/app/js/canvas/elevationGraphic.js"></script>
    <script src="./src/app/js/canvas/azimuthGraphic.js"></script>
    <script src="./src/pdf/generate_pdf.js"></script>
</body>
</html>
