footer
{
	width: 100%;
	height: 12%;
	position: relative;
	bottom: 0;
}


.footer-item
{
	text-align: right;
	padding: 0 10px;
}

address
{
	margin: 0;
}

@media screen and (max-width: 575.98px){
	footer{
		position: relative;
	}
}
