*
{
	font-family: 'Ubuntu', sans-serif;
	box-sizing: border-box;
}

html {
	width: 100%;
	max-width: 100%;
}

body
{
	position: relative;
	height: 100%;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	color: rgb(18, 169, 235);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

header{
	display: flex;
	order: 1;
	-moz-animation-delay: 0.8s;
	-webkit-animation-delay: 0.8s;
}

main{
	display: flex;
	order: 2;
	-moz-animation-delay: 1.7s;
	-webkit-animation-delay: 1.7s;
}

footer{
	display: flex;
	order: 3;
	-moz-animation-delay: 2.25s;
	-webkit-animation-delay: 2.25s;
}


.block-anchor
{
	display: block;
}

.help-anchor
{
	display: block;
	font-size: 0.8em;
	color: rgb(30, 30, 30);
}

.help-anchor:hover
{
	color: rgb(20, 20, 20);
}

.block-anchor:hover{
	color: rgb(240, 240, 240);
}

.delay-3-5s
{
	-moz-animation-delay: 3.5s;
	-moz-animation-duration: : 3.5s;
	-webkit-animation-delay: 3.5s;
	-webkit-animation-duration: : 3.5s;
}

.delay-10s
{
	-moz-animation-delay: 10s;
	-moz-animation-duration: : 10s;
	-webkit-animation-delay: 10s;
	-webkit-animation-duration: : 10s;
}

.infinite-anim
{
	-moz-animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@media screen and (min-width: 576px){
	html{
		height: 100%;
		max-height: 100%;
		overflow-x: hidden;
	}
}
