main{
  width: 100%;
}

input[type="submit"]{
	display: block;
	margin: auto;
}


form{
  background-color: rgba(230, 230, 230, 0.5);
  border-radius: 5px;
}

.margin-input {
	margin: 15px auto;
}

.form-content {
  margin: 30px 18px;
}

.table-form-title, .table-form-inputs {
  margin: 25px auto;
}

.table-form-title{
  text-align: center;
  color: rgb(17, 84, 91);
}

.table-form{
  margin: 20px auto;
}


