body {
    background-image: url("../img/bg_results.png");
}

#results
{
    color: rgba(15, 15, 15, 0.8);
    padding: 15px 25px;
}

.block-anchor
{
    color: rgb(18, 169, 235);
    text-align: right;
}

canvas
{
  border-style: solid;
  border-radius: 5px;
  border-color: rgba(20, 20, 20, 0.7);
  background-color: rgb(156, 198, 198);
}
